body {
  background: #f0f2f5;
}

.card {
  /* Add shadows to create the "card" effect */

  margin: 10px;
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 10px;
  position: relative;
  width: 400px;

}


div.bgImg img {
  width: 100%;

}

div.links a div {
  position: absolute;
  z-index: 15
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
  border-radius: 10px;
}


/* progressbar */
#progress-bar {
  --scrollAmount: 0%;
  background-image: linear-gradient(120deg, #FF7721 0%, #11307e 100%);
  width: var(--scrollAmount);
  height: 4px;
  position: fixed;
  top: 0.2px;
  z-index: 100;
}

::-webkit-scrollbar {
  width: 5px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 15px;
  box-shadow: inset 0 0 1px rgba(109, 109, 109, 0.5);
  background: #FF7721;
}

/* play */

.menu_icon i {
  cursor: pointer;
  left: 20px;
  color: #eb5d1e;
  position: absolute;
  text-align: center;
  width: 40px !important;
  height: 40px !important;
}

.menu_icon2 i {
  cursor: pointer;
  color: #eb5d1e;
  width: 40px !important;
  height: 40px !important;

}


/* music player css */
.img_container1 {
  width: 80px;
  height: 80px;
}



.anime {
  animation: rotateimage 10s linear infinite;

}



@keyframes rotateimage {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}



.circle {
  background:#ffffff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0px 0px 1px 2px #0000001a;

}

.pulse {
  animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px #ff6b2c4f;
  }

  100% {
    box-shadow: 0 0 0 20px #fff1eb4f;
  }
}

.icon {
  position:absolute;
  display: flex;
  justify-content: space-between;
  width: 40px;
  height: 30px;
}

.animation {
  width: 5px;
  height: 40px;
  background-color: #ff972e;
  border-radius: 5px;
  transform-origin: bottom;
  animation: bounce 2.5s ease infinite alternate;
  content: '';
}

@keyframes bounce {
  10% {
    transform: scaleY(0.3);
    /* start by scaling to 30% */
  }

  30% {
    transform: scaleY(1);
    /* scale up to 100% */
  }

  60% {
    transform: scaleY(0.5);
    /* scale down to 50% */
  }

  80% {
    transform: scaleY(0.75);
    /* scale up to 75% */
  }

  100% {
    transform: scaleY(0.6);
    /* scale down to 60% */
  }
}

.animation:nth-of-type(2) {
  animation-delay: -2.5s;
  /* Start at the end of animation */
}

.animation:nth-of-type(4) {
  animation-delay: -3.9s;
  /* Start mid-way of return of animation */
}


/* Styles for website counter container */
.website-counter {
  color: rgb(255, 255, 255);
  border-radius: 10px;
  font-weight: 600;
  font-size: 18px;
  margin-top: 5px;
  background-color: #ff972e;
  /* width: 50px; */
  box-shadow: 0px 0px 1px 1px #0000001a;
  /* margin-left: 10px; */
}

/* Styles for reset button */
#reset {
  margin-top: 50px;
  background-color: #008cba;
  cursor: pointer;
  font-size: 18px;
  padding: 8px 20px;
  color: white;
  border: 20px;
}

.social-icon:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.social-icon {
  box-shadow: 0 1px 3px 0 #9e9e9e;
}